/* DEBUG */

.debug .container {
  border: 1px solid red;
}

.debug .container .leftApp, .debug .container .rightApp {
  border: 1px solid blue;
  height: 100%;
}

.debug .container .leftApp > *, .debug .container .rightApp > * {
  border: 1px solid purple;
}

.debug .footer {
  height: 100px;
}

.debug .main {
  height: calc(100% - 160px);
}


/* USEFUL PROPERTIES */
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.underline {
  text-decoration: underline;
}

.grey {
  color: grey;
}

i {
  color: #B1B1B1;
}

.btn {
  background-color: white;
  border: none;
  margin: 0 0.5rem;
}

/* Layout Properties */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90vh;
  width: 80vw;
  display: flex;
}

.container .leftApp {
  width: 35%;
}

.container .rightApp {
  width: 65%;
}

.nav, .alert {
  height: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
}

.leftApp .nav .user > img {
  vertical-align: text-top;
  margin: 0 0.5rem;
}

.leftApp .nav i {
  margin: 0 0.5rem;
}

.leftApp .alert {
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.leftApp .alertIcon {
  background-color: white;
  color: #8EDAFC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.search {
  background-color: #FAFAFA;
  height: 40px;
  padding: 0.5rem;
  display: flex;
}

.search > input {
  width: 100%;
  border: 1px solid lightgrey;
  padding-left: 0.5rem;
}

.leftApp .contacts {
  background-color: white;
  height: calc(100% - 160px);
}

.leftApp .contact {
  height: 70px;
  display: flex;
  align-items: center;
}

.leftApp .contact img {
  vertical-align: text-top;
  margin: 0 0.5rem;
}
