/* DEBUG */

.debug .container {
  border: 1px solid red;
}

.debug .container .leftApp, .debug .container .rightApp {
  border: 1px solid blue;
}

.debug .container .leftApp > *, .debug .container .rightApp > * {
  border: 1px solid purple;
}


/* USEFUL PROPERTIES */

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.underline {
  text-decoration: underline;
}

.grey {
  color: grey;
}

i {
  color: #B1B1B1;
  margin: 0 0.5rem;
}

i:hover {
  cursor: pointer;
}

.btn {
  background-color: white;
  border: none;
  margin: 0 0.5rem;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

/* Layout Properties */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 350px;
  height: 90vh;
  min-width: 900px;
  flex: 0 0 80%;
  display: flex;
  background-color: white;
}

.container .leftApp {
  flex: 0 0 300px;
  border-right: 1px solid #D9D9D9;
}

.container .rightApp {
  flex: 0 1 100%;
  min-width: 350px;
}

.nav, .alert, .footer {
  height: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
}

.leftApp .nav .user > img, .rightApp .nav img {
  vertical-align: middle;
  margin: 0 0.5rem;
}

.leftApp .alert {
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.leftApp .alertIcon {
  background-color: white;
  color: #8EDAFC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.leftApp .alertIcon > i {
  color: #8EDAFC;
}

.leftApp .search {
  background-color: #FAFAFA;
  height: 40px;
  padding: 0.5rem;
  display: flex;
}

input {
  width: 80%;
  border: 1px solid lightgrey;
  padding-left: 0.5rem;
}

.leftApp .contacts {
  background-color: white;
  height: 280px;
  max-height: calc(100% - 160px);
  overflow-y: auto;
}

.leftApp .contact {
  height: 70px;
  display: flex;
  align-items: center;
}

.leftApp .contact:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.leftApp .contact img {
  vertical-align: text-top;
  margin: 0 0.5rem;
}

.rightApp .nav {
  display: flex;
  justify-content: space-between;
}

.rightApp .chat {
  background-image: url('../img/mine.jpg');
  height: calc(100% - 120px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.rightApp .chat .message {
  min-width: 200px;
  max-width: 50%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.message.sent {
  background-color: #D5F9BA;
  align-self: flex-end;
}

.message.received {
  background-color: white;
  align-self: flex-start;
}

.message > .text {
  padding-right: 50px;
}

.message > .date {
  color: grey;
  font-size: 12px;
  align-self: flex-end;
  margin: 5px 0 0 0;
}

.message > i {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.message:hover i {
  display: block;
}

.rightApp .footer {
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightApp .footer > i {
  color: #6B7376;
  font-size: 20px;
}

.rightApp .footer input {
  height: 40px;
}

/* MEDIA QUERY */

@media screen and (max-width: 900px) {
  .container {
    min-width: 670px;
    flex: 0 0 100%;
  }

}

@media screen and (max-width: 650px) {
  .container {
    position: absolute;
    left: 0;
  }

}
